.formation-section {
   padding-top: 10px;
 padding-bottom: 60px;
 padding-left: 0px;
 padding-right: 0px;
  background: linear-gradient(to bottom right, #eff6ff, #f9fafb);
}

.formation-container {
  max-width: 1100px;
  margin: 0 auto;
}

.formation-header {
  text-align: center;
  margin-bottom: 60px;
}

.formation-header h2 {
  font-size: 40px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 8px;
}

/* Trait animé */
.formation-underline {
  width: 70px;
  height: 4px;
  background-color: #2563eb;
  margin: 8px auto 0;
  border-radius: 4px;
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  from { width: 0; opacity: 0; }
  to { width: 70px; opacity: 1; }
}

/* GRID 2 colonnes */
.formation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}



/* CARD */
.formation-card {
    background: white;
  /* background: linear-gradient(to bottom right, #eff6ff, #f9fafb);*/
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover premium */
.formation-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(37, 99, 235, 0.15);
}

/* Petit effet décoratif */
.formation-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: #2563eb;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* DEGREE */
.formation-degree {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon-wrapper {
  background: #2563eb;
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formation-degree h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
}

/* SCHOOL */
.school-name {
  color: #2563eb;
  font-weight: 600;
  margin-bottom: 8px;
}

.formation-period {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6b7280;
  margin-bottom: 15px;
  font-weight: 500;
}

.school-description {
  color: #374151;
  line-height: 1.6;
}